* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.xlsx binary
*.pdf binary
*.spl binary
desktop.ini export-ignore

__pycache__/
*.py[cod]
*.nbc
*.nbi
Paper/*.aux
Paper/*.bbl
Paper/*.blg
Paper/*.log
Paper/*.out
Paper/*.spl
desktop.ini

